@media(width <=600px) {


    .home-hero {
        flex-direction: column-reverse;
        padding-top: 1em;
    }

    .home-link3 {
        padding-right: 1em;
    }

    .home-image1 {
        width: 100%;
        height: auto;
    }

    .home-hero-text-container,
    .home-heading-container {
        width: 100%;
        padding-top: 2em;
    }

    .home-cta-btn2 {
        align-self: auto;
        margin: 0 auto;
        /* padding-bottom: 2em; */
    }

   .home-features {
    height: auto;          
  }

  .home-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-feature-card,
  .home-feature-card1,
  .home-feature-card2 {
    width: 100%;
  }

  
  
}






